
/*

    Theming place, replace with your color by follow this
    guideline.

    Background: #FAFBFA;
    Section Background: rgba(217, 223, 211,.6)/#D9DFD3;
    Darker section background/bordor: #859388;
    Accent color: #38664C;
    Text color: #13221C;
*/
:root {
	/* THEME : GREEN */
--color-background:#FAFBFA;
--color-section-background: #D9DFD3;
--color-darker-section-bg-and-border: #859388;
--color-subtle: #6E887E;
--color-accent: #38664C;
--color-text: #13221C;
	/**/
	/* THEME : RED 
--color-background:#FAFAFB;
--color-section-background: #CFB69F;
--color-darker-section-bg-and-border: #B3957D;
--color-subtle: #AF8260;
--color-accent: #803D3B;
--color-text: #2C2726;
/*	*/
--color-pie-w: #F8E6BA;
--color-pie-u: #1C7FE1;
--color-pie-b: #6B6163;
--color-pie-r: #BD5050;
--color-pie-g: #488F68;
}
body {
    color: var(--color-text);
    background-color: var(--color-background);
}

a {
    color: var(--color-accent);
}

::selection {
    background-color: color-mix(in srgb, var(--color-section-background), transparent 80%); 
    color: var(--color-accent);
}

nav {
    color: var(--color-text);
}

nav a:visited {
    color: var(--color-accent);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-accent);
}

pre {
    border: 1px solid var(--color-text);
    background-color: var(--color-section-background);
}


p code {
    border: 1px solid var(--color-accent);
    background-color: color-mix(in srgb, var(--color-section-background), transparent 60%);
}

blockquote {
    border-left-color: var(--color-darker-section-bg-and-border);
    background-color: color-mix(in srgb, var(--color-section-background), transparent 60%);
}

ul li {
    color: var(--color-accent);
}

ul > li > span {
    color: var(--color-text);
}

.seed_meta tbody tr td {
    border-bottom: 1px dashed var(--color-darker-section-bg-and-border);
}

.seed_meta a {
    color: var(--color-accent);
    background: color-mix(in srgb, var(--color-section-background), transparent 60%);
}

#recent-seed p, .seed-index-entries p, .catalog-index-entries p {
    border-bottom: 1px dashed var(--color-darker-section-bg-and-border);
}

.seed-index-entries_item {
    border-bottom: 1px dashed var(--color-darker-section-bg-and-border); 
}

.seed-index-entries_item span p {
    color: var(--color-accent); 
    background: color-mix(in srgb, var(--color-section-background), transparent 60%);
}
